.todowrapper{
    display: flex;
    align-items: center;
    border: 2px solid #A2D5F2;
    background-color: #A2D5F2;
    width: 90%;
    min-height: 30px;
    justify-content: center;
    margin: 3px;
    border-radius: 10px;
    justify-content: space-between;
}